@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"),
       url(../fonts/ptsans.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
       url(../fonts/ptsansbold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-light-gray: #f2f2f2; /* input */
  --special-light-gray: #ebebeb; /* input hover */
  --basic-gray: #eeeeee; /* main page li bcgrnd */
  --special-gray: #e5e5e5; /* borders inner page */
  --medium-gray: #cacaca; /* inactive sorting icone */
  --special-dark-gray: #a9a9a9; /* form input icon */
  --pale-gray: #bdbbbc; /* html logo active */
  --dove-gray: #666666; /* rating inner page*/
  --dark-dove-gray: #6a6a6a; /* checkbox disabled */
  --basic-light-blue: #81b3d2;
  --special-medium-blue: #669EC0; /* hover */
  --special-dark-blue: #5496BD; /* active */
  --special-cashmere: #e7bda7; /* img background color */
  --basic-light-brown: #766357; /* buttons */
  --special-medium-brown: #604e43; /* hover */
  --special-dark-brown: #503e33; /* active */
  --basic-dark-brown: #333333; /* text */
  --basic-black: #000000;
}

/* Global */

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);

  background-color: var(--basic-light-gray);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-text {
  margin: 0;
  padding: 0;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reset-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Main page */

.page-layout {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Header */

.header-navigation {
  position: relative;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 531px;
  z-index: 1; /* перекрывает фон следующего блока */
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 72px;
}

.navigation-item  {
  min-width: 228px;

  font-weight: bold;
  line-height: 26px;
}

.nav-column-left {
  text-align: left;
}

.nav-column-right {
  text-align: right;
}

.navigation-item:nth-child(4n+3) {
  margin-left: 144px;
}

.navigation-link {
  color: var(--basic-black);
}

.navigation-link:hover {
  color: var(--basic-light-blue);
}

.navigation-link[href]:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-heading {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 509px;

  background-color: #e2eff8;
  background-image: url(../img/sedona_landscape.jpg);
  background-repeat: no-repeat;
  background-position: 0 -1px;

  /* -webkit-mask-image: url(../img/icons/header_mask.svg);
  mask-image: url(../img/icons/header_mask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  mask-position: bottom; */
}

.main-heading::after {
  position: absolute;
  bottom: 0;

  content: "";
  width: 1200px;
  height: 57px;

  background-image: url(../img/icons/header_mask.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.main-heading .header-first-image {
  margin-top: 76px;
}

.main-heading .header-second-image {
  margin-top: 10px;
}

.main-heading .header-third-image {
  margin-top: 53px;
}

/* Main */

/* Advantage */

.advantage {
  padding-top: 42px;
}

.advantage h2 {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.advantage-text {
  margin-top: 43px;
  margin-bottom: 52px;

  line-height: 26px;
  color: var(--basic-dark-brown);
}

.advantage-item h3,
.point-heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.advantage-item p {
  color: var(--basic-dark-brown);
}

.item-wrapper {
  background-color: var(--basic-gray);
}

.item-long-wrapper > h3,
.item-long-wrapper > p {
  color: var(--basic-white);
}

.item-long-wrapper {
  background-color: var(--basic-light-blue);
}

.advantage-point-item .point-text {
  color: var(--basic-dark-brown);
}

.advantage-point-item .point-heading {
  color: var(--basic-black);
}

/* Advantage layout */

.advantage-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
}

.advantage-item-long {
  display: flex;
  flex-wrap: wrap;
}

.advantage-item-long:first-child {
  grid-column: 1/-1;
  grid-row: 1/2;
}


.item-long-image {
  object-fit: contain;
  background-color: var(--special-cashmere);
}

.advantage-point-list {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
}

.advantage-item-long:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.advantage-item-long:nth-child(2) .item-long-wrapper {
  padding-top: 50px;
}

.item-long-wrapper,
.item-wrapper {
  width: 400px; /* Норм здесь фикс ширина? */
  box-sizing: border-box;
  padding: 47px 10px;
}

.advantage-item.item-wrapper {
  padding-bottom: 54px;
}

.advantage-item .item-heading,
.advantage-point-item .point-heading {
  margin: 0;
  margin-bottom: 25px;
}

.advantage-item .item-text {
  margin-top: 23px; /* 25px */
}

.advantage-point-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  box-sizing: border-box;
  padding-top: 159px;
  padding-bottom: 83px;
}

/* Search */

.search {
  padding-top: 59px;
}

.search h2 {
  margin: 0;

  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.search .search-text {
  margin: 30px auto 42px;

  line-height: 26px;
  color: var(--basic-dark-brown);
}

.button {
  font-weight: bold;
  color: var(--basic-white);

  border: none;
}

.search-link {
  display: inline-flex;
  justify-content: center;
  min-width: 568px;
  padding: 30px 20px;
  box-sizing: border-box;

  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-light-brown);
}

.search-link:hover,
.search-link:focus {
  background-color: var(--special-medium-brown);
}

.search-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--special-dark-brown);
}

/* Modal form */

.modal-form-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.modal-form {
  display: none;
}

.modal-form.modal-show {
  position: absolute;
  top: 86px;
  left: 0;
  width: 100%; /* ширина окна с формой зависит от ширины кнопки */
  box-sizing: border-box;
  display: flex;
  padding: 54px;

  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form p {
  position: relative;

  margin-bottom: 30px;
}

.search-form,
.search-form input::placeholder,
.search-form input {
  font-weight: bold;
  line-height: 26px;
  text-align: initial;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-form input {
  padding: 6px 13px;
  box-sizing: border-box;

  background-color: var(--basic-light-gray);
  border: none;
}

.search-date:first-child label {
  margin-right: 22px;
}

.search-date:nth-child(2) label {
  margin-right: 18px;
}

.search-amount input {
  position: relative;

  width: 114px;
  padding-left: 39px;
  padding-right: 39px;
  text-align: center;
  margin-left: 39px;
}

.search-amount:last-of-type input {
  margin-left: 25px;
}

.search-amount .amount-controls-minus {
  position: absolute;
  top: 3px;
  right: 90px;
  z-index: 1;
}

.search-amount .amount-controls-plus {
  position: absolute;
  top: 6px;
  right: 15px;
  z-index: 1;
}

.search-date input {
  min-width: 346px;
  padding-right: 30px;
}

.search-form input:hover {
  background-color: var(--special-light-gray);
}

.search-form input:focus {
  box-sizing: border-box;

  background-color: var(--basic-white);
  border: 2px solid var(--special-gray);
  outline: none;
}

.search-date-icon {
  position: absolute;
  top: 7px;
  right: 10px;
}

.search-date-icon:hover path,
.search-date-icon:focus path {
  fill: var(--basic-black);
}

.search-date-icon:active path {
  fill: var(--basic-light-blue);
}

.search-date-icon:focus,
.search-date-icon:active {
  outline: none;
}

.search-amount input::-webkit-outer-spin-button,
.search-amount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-amount input[type=number] {
  -moz-appearance: textfield;
}

.search-form-button {
  width: 100%;
  padding: 16px 10px;
  margin-top: 24px;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: var(--special-medium-blue);
  outline: none;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--special-dark-blue);
  outline: none;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  min-height: 125px;
  padding-right: 73px;
  padding-left: 73px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  width: 327px;
}

.footer-contacts p {
  margin-top: 22px;
  margin-bottom: 9px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  padding-top: 35px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  background-color: var(--basic-light-blue);
}

.footer-socials-link:nth-child(7n+7),
.footer-socials-link:last-child {
  margin-right: 0;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--special-medium-blue);
}

.footer-socials-link:active {
  background-color: var(--special-dark-blue);
}

.footer-socials-link:active path {
  fill-opacity: 0.3;
}

.footer-designed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 327px;

  line-height: 26px;
}

.footer-designed-by span {
  margin-right: 8px;
}

.designed-by-link:hover path,
.designed-by-link:focus path {
  fill: var(--basic-light-blue);
}

.designed-by-link:active path {
  fill: var(--pale-gray);
}


/* Inner page */

/* Header */

.navigation-link.navigation-link-current {
  color: var(--basic-light-brown);
}

/* Filter */

.filter {
  color: var(--basic-white);

  background-color: var(--special-medium-blue);
  background-image: url(../img/sedona_landscape.jpg);
  background-position: 0 -210px;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  justify-content: space-between;

  text-align: left;

  -webkit-backdrop-filter: blur(15px);
  /* backdrop-filter: blur(15px); */ /* validator error */
}

.filter-column-wrapper {
  display: flex;
  padding: 25px 72px 32px;
}

.filter-infrastructure {
  margin-right: 119px;
}


.filter-form-group li:not(:last-child) {
  margin-bottom: 25px;
}

.check-input {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-input:focus,
.check-input:active {
  outline: none;
}

.check-label {
  padding-left: 40px;
}

.check-input::after {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 23px;
  height: 23px;

  background-image: url(../img/icons/checkbox_off.svg);
  background-repeat: no-repeat;
}

.check-input:checked::after {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 27px;
  height: 23px;

  background-image: url(../img/icons/checkbox_on.svg);
  background-repeat: no-repeat;
}

.filter-form legend {
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 16px;
}

.filter-column-wrapper:last-of-type {
  flex-direction: column;
  align-items: center;
  width: 318px;
}

.filter-form .price-input {
  width: 50px;
  color: var(--basic-white);

  background-color: transparent;
  border: none;
}

.filter-price input::-webkit-outer-spin-button,
.filter-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-price input[type=number] {
  -moz-appearance: textfield;
}

.filter-price legend {
  margin-bottom: 11px;
}

.filter-price-wrapper {
  width: 318px;
  padding: 6px 20px;
  box-sizing: border-box;

  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-form-button {
  min-width: 137px;
  padding: 7px 10px;

  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);

  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-form-button:hover {
  color: var(--basic-black);

  background-color: var(--basic-white);
}


/* Sorting */

.search-result {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.results-sorting h3 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sorting-type-item a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed var(--basic-light-blue);
}

.sorting-type-item .sorting-type-current {
  color: var(--basic-light-blue);

  border: none;
}

.sorting-type-item a[href]:hover,
.sorting-type-item a[href]:focus {
  color: var(--basic-light-blue);
}

.sorting-type-item a[href]:active {
  color: var(--basic-black);

  border: none;
}

.sorting-way-link:hover[href] path,
.sorting-way-link:focus[href] path {
  fill: var(--basic-black);
}

.sorting-way-link[href]:active path {
  fill: var(--basic-light-blue);
}

.sorting-way-link.sorting-way-current path {
  fill: var(--basic-light-blue);
}

/* Accomodation */

.accomodation-heading-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.accomodation-heading-link:hover,
.accomodation-heading-link:focus {
  color: var(--basic-light-blue);
}

.accomodation-heading-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.accomodation-item-description p {
  color: var(--basic-dark-brown);
}

.info-link {
  background-color: var(--basic-light-blue);
}

.info-link:hover,
.info-link:focus {
  background-color: var(--special-medium-blue);
}

.info-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--special-dark-blue);
}

.booking-link {
  background-color: var(--basic-light-brown);
}

.booking-link:hover,
.booking-link:focus {
  background-color: var(--special-medium-brown);
}

.booking-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--special-dark-brown);
}

.accomodation-item-rating p {
  color: var(--dove-gray);

  background-color: var(--basic-light-gray);
}

/* Footer */

.footer {
  position: static;
}
